.userblock {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #2231aa;
  width: 236px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.username {
  display: flex;
  align-items: center;
}

.username__initials {
  background-color: #5360cd;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  margin-right: 16px;
}