.header__search {
    flex-grow: 1;
    padding: 0 10px;
    background-color: #2231aa;
    height: 100%;
    outline: none;
    border: none;
    color: #fff;
  }
  
  .header__search::placeholder {
    color: #fff;
  }
  
  .header__search-active {
    background-color: #5360cd;
  }